page-home{
    
    
    $color-red: #FF0000;
    $color-green: #00FF00;
    $color-blue: #0000FF;
    .stock_ref1
    {
        color: $color-green ;
        
    }
    .stock_ref2
    {
        color: $color-red ;
        
    }
  .new-background {
    background-color: blue;
  }
}


