page-detail {
    .img1{
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    }
    .btnFollow
    {
        display: block;
    margin-left: auto;
    margin-right: auto;

    }

}
