page-account {
  .img2{

    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 30%;


  }
  .center
  {
    text-align: center;
  }
  .inputF
  {

    border: none;
    border-bottom: 2px solid #4365d8;
    text-align: center;
    font-size: 60;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .btnFollow
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

  }
  .nvbar
  {
    background-color: blue;
  }

}
